body {
	margin: 0;
	padding: 0;
	line-height: 2em;
	font-family: Verdana, "宋体", Arial,Sans;
	font-size: 12px;
	color: #666;
	background: #ffffff;
}

a:link, a:visited { color: #000000; text-decoration: underline; font-weight: normal;} 
a:active, a:hover { color: #000000; text-decoration: none;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	border: none;
}


.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_15 { clear: both; width: 100%; height: 15px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}

.header_01 {
	clear: both;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 40px;	
	color: #ffffff;
}

.header_02 {
	clear: both;
	padding-bottom: 20px;
	margin-bottom: 15px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #000000;
	background: url(../images/ncss_header_01_bg.jpg) left bottom no-repeat;	
}

.header_03 {
	clear: both;
	height: 20px;
	padding: 15px 0 0 20px;
	font-size: 18px;
	color: #ffffff;
	background: url(../images/ncss_header_02_bg.jpg) repeat-x;
}
.header_04 {
	clear: both;
	font-size: 10px;
	color:black;
}

#ncss_header_wrapper {
	width: 100%;
	height: 90px;
	margin: 0 auto;
	background: #19446a url(../images/ncss_header_bg.jpg) repeat-x;
}

#ncss_header {
	width: 980px;
	margin: 0 auto;
}



/* end of header */

#ncss_banner_wrapper {
	clear: both;
	width: 100%;
	height: 150px;
	margin: 0 auto;
	background: #454545 url(../images/ncss_banner_repeat.jpg) repeat-x;
}

#ncss_banner {
	clear: both;
	width: 900px;
	height: 140px;
	margin: 0 auto;
	padding: 10px 20px 0 10px;;
	background:url(../images/ncss_banner_bg.jpg) bottom no-repeat;
}

#ncss_banner_image {
	float: left;
	width: 440px;	
}

#ncss_banner_content {
	float: right;
	text-align: left;
	width: 460px;
}
/* end of banner */


/* content */

#ncss_content_wrapper {
	clear: both;
	width: 980px;
	margin: 0 auto;
	background: #ffffff;
}

#ncss_content {
	width: 900px;
	padding: 50px 40px;
	background: #ffffff;
}


#column_w530 {
	float: right;
	width: 530px;
	line-height: 20px;
	background: #ffffff;
}

#column_w300 {
	float: left;
	width: 298px;
	background: #efefef;
	border: 1px solid #e5e5e5;
}

#column_w530 .em_text {
	color: #000;
}

#column_w530 p {
	margin-bottom: 15px;
}

.content_list_01 {
	margin: 0 0 0 30px;
	padding: 0px;
	list-style: square;
}

.content_list_01 li {
	margin: 0px;
	padding: 0 0 10px 10px;
	
}

.content_section_01 {
	border-left: 5px solid #536592;
	padding-left: 20px;
}

.column_w300_section_01 {
	clear: both;
	padding: 20px 19px;
	background: url(../images/ncss_side_column_divider.jpg) bottom repeat-x;
}



.notice_image_wrapper {
	float: left;
	width: 70px;
	height: 70px;
	padding: 4px;
	margin: 3px 0 0 0;
	border: 1px solid #dad8d8;
	background: #ffffff;
}

.notice_image_wrapper img{
	width: 69px;
	height: 69px;
	border: 1px solid #9c9d85;
}

.notice_content {
	float: right;
	width: 170px;
}

.notice_content .notice_date {
	font-size: 12px;
	color: #9a9a9a;
}

.notice_content p{
	line-height: 15px;
	font-size: 11px;
}

/* end of content

/* footer */

#ncss_footer_wrapper {
	width: 100%;
	margin: 0 auto;
	background: url(../images/ncss_footer_bg.jpg) repeat-x;
}


/* end of footer */